.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  max-width: 600px;
  padding: 8px;
  margin: 0 auto;
  justify-content: space-between;
}

.layout {
  min-height: 0;
  height: 100%;
  flex: 1 1;
  overflow-y: auto;
  position: relative;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.bottom {
  padding: 8px 0;
}

.top {
  display: flex;
  flex-direction: row;
}

.sketchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}