.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  padding: 8px;
  justify-content: space-between;
}

.layout {
  min-height: 0;
  height: 100%;
  flex: 1 1;
  overflow-y: auto;
  position: relative;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 8px 0;
}

.bottom {
  padding: 8px 0;
}

.top {
  display: flex;
  flex-direction: row;
}

.modulesLayout {
  /* background: linear-gradient(to bottom, #333, #666); */
  min-height: 100%;
}

.gridLayout {
  max-width: 100%;
  height: 100%;
}

.gridCell {
  background-color: #333;
}