.container {
  border: 1px solid #fff;
  padding: 4px;
  width: auto;
  display: inline-flex;
  flex-direction: column;
}

.lamp {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #777;
}

.blink {
  animation: blink 100ms both;
}

@keyframes blink {
  0% {
    background: #777;
  } 

  50% {
    background: #7f7;
  } 

  100% {
    background: #777;
  }
}