.keyboard {
  --key-size: 64px;

  display: flex;
  padding-top: var(--key-size);
  justify-content: center;
  gap: 8px;


  @media (--phone) {
    gap: 2px;
    --key-size: min(calc(100vw * 1/8), 64px);
  }
}

.key {
  position: relative;
}

.sharp {
  width: 0;

  & .keyButton {
    position: relative;
    transform: translateY(calc(var(--key-size) * -1)) translateX(-50%);
  }
}

.keyButton {
  width: var(--key-size);
  height: var(--key-size);
  border: 1px solid #aaa;
  border-radius: 50%;
  background: none;
  color: #fff;
  font-weight: 300;
  font-size: calc(var(--key-size) * 0.25);
  animation: fadeIn .4s ease both;
  animation-delay: calc(var(--index) * 0.05s);
  transform-origin: 50% 0;
}

.key.active .keyButton {
  border-color: #fff;
  background-color: #fff;
  color: #000;
  font-weight: 600;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    scale: 0.7;
  }

  to {
    opacity: 1;
    scale: 1;
  }
}